.react-svg{
    width: 300px;
    border: 1px solid white;
    box-shadow: 1px 2px 3px gray;
}
#section2{
    display: flex;
    justify-content: space-between;
    height: 50vh;
    align-items: center;
    padding: 100px;
    gap: 20px;
}
#section2 h4{
    font-size: 30px;
    margin: 10px;
}
#section2 p{
    font-size: 20px;
    margin: 10px;
}